 .IntroPaper{
    height: 400px;
 }

 .IntroPaperBox{
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
 }


.IntroPic {
    display: flexbox;
    justify-content: center;
    align-items: center;
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    width: 200px;
    height: 200px;
}

.IntroIcon {
    display: none;
}

@media only screen and (max-width: 900px) {
    .IconText {
        margin-left: 5%;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
    }

    .IntroPaper {
        height: 132px;
        padding: 10px;
    }

    .IntroPaperBox{
        padding-top: 0px;
        padding-bottom: 0px;

     }

    .IntroTitle {
        padding-bottom: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .IntroPic {
        display: none;
    }

    .IntroIcon {
        display:inline;
        width: 3em;
        height: 3em;
        margin-right: 0.5rem;
    }
}